.dropdown-select {
  position: relative;
  padding: 0.5rem 1rem;
  width: max-content;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 0.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.dropdown-select:hover {
  border-color: rgba(65, 128, 209);
}

.open {
  border-color: rgba(65, 128, 209);
}
