.dropdown-select {
  position: relative;
  padding: 0.5rem 1rem;
  width: max-content;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 0.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.dropdown-select:hover {
  border-color: rgba(65, 128, 209);
}

.dropdown-menu {
  position: absolute;
  width: max-content;
  border-radius: 0.25rem;
  /* box-shadow: 0.25rem 0.25rem 1rem rgb(153, 153, 153), -0.25rem -025rem 1rem rgb(153, 153, 153); */
  box-shadow: 0rem 0rem 1rem rgb(153, 153, 153);
}

.open {
  border-color: rgba(65, 128, 209);
}

.hide {
  display: none;
}
