.menu-container  {
  position: absolute;
  max-height: 10rem;
  overflow-y: auto;
  width: max-content;
  color: black;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 1rem rgb(153, 153, 153);
  z-index: 20;
}

.hide {
  display: none;
}
